* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Urbanist, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

:root {
  --bg-color: #f4f3ff;
  --btn-color: #646cff;
  --dark-color: #242424;
  --helper-color: #99b9ff;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  min-height: 100vh;
}


h1 {
  font-size: 5.4rem;
  line-height: 1.1;
  font-weight: bold;
}

p,
li,
label,
input,
textarea {
  font-size: 1.8rem;
  line-height: 1.56;
  letter-spacing: 0.1rem;
  word-spacing: 0.06rem;
}

a {
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  color: var(--btn-color);
  text-decoration: inherit;
}

li {
  list-style: none;
}

.container {
  max-width: 80vw;
  padding: 4rem 2.4rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 6.4rem;
}

.grid-two-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid-four-cols {
  grid-template-columns: repeat(4, 1fr);
}

button {
  text-transform: capitalize;
  padding: 1rem 2.2rem;
  font-size: 1.7rem;
  font-weight: 500;
  background-color: var(--btn-color);
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
  border: 0.1rem solid transparent;
  cursor: pointer;
  letter-spacing: 0.1rem;
  transition: border-color 0.3s;
  -webkit-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
  -ms-transition: border-color 0.3s;
  -o-transition: border-color 0.3s;
}

.secondary-btn {
  background-color: transparent;
  box-shadow: inset 0 0 0 0.2rem var(--btn-color);
  margin-left: 3.2rem;
}

/***** Start Hero Section *****/

.section-hero {
  & .grid {
    align-items: center;
  }

  .hero-content {
    & p {
      margin: 2.4rem 0 4.8rem 0;

      &:first-child {
        margin: 0 0 1.2rem 0;
      }
    }
  }

  .hero-image {
    display: flex;
    justify-content: center;

    & img {
      width: 70%;
      height: auto;
    }
  }
}

/***** End Hero Section *****/

/***** Start Analytics Section *****/

.section-analytics {
  margin: 9.6rem 0;

  & .container {
    background-color: var(--bg-color);
    border-radius: 1rem;
  }

  & .grid {
    color: var(--dark-color);

    & .div1 {
      text-align: center;
      border-right: 0.2rem solid var(--dark-color);

      &:last-child {
        border: none;
      }

      & h2 {
        font-size: 4.8rem;
      }

      & p {
        text-transform: capitalize;
      }
    }
  }
}

/***** End Analytics Section *****/

/***** Start footer Section *****/
.unique-footer-class {
  background-color: var(--btn-color);
  color: #fff;
  padding: 10px;
  text-align: center;
  bottom: 0;
  width: 100%;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

/***** End footer Section *****/

/***** Start Contact Section *****/
.section-contact {
  & .contact-content {
    padding: 0;

    & h1 {
      margin-bottom: 3.2rem;
    }
  }

  & .container {
    padding-top: 3.2rem;
  }

  & .contact-img {
    display: flex;
    justify-content: start;
    align-items: center;

    & img {
      width: 80%;
      height: auto;
    }
  }

  & .section-form {
    & form {
      display: flex;
      flex-direction: column;
      gap: 3.2rem;
    }

    & label {
      display: block;
      margin-bottom: 1.2rem;
      text-transform: capitalize;
    }

    & input,
    textarea {
      width: 80%;
      padding: 0.4rem 0.6rem;
    }
  }
}

/***** End Contact Section *****/


/***** Start Register Section *****/
.section-registration {
  & .contact-content {
    padding: 0;

    & h1 {
      margin-bottom: 3.2rem;
    }
  }

  & .container {
    padding-top: 3.2rem;
  }

  & .contact-img {
    display: flex;
    justify-content: start;
    align-items: center;

    & img {
      width: 80%;
      height: auto;
    }
  }

  & .section-form {
    & form {
      display: flex;
      flex-direction: column;
      gap: 3.2rem;
    }

    & label {
      display: block;
      margin-bottom: 1.2rem;
      text-transform: capitalize;
    }

    & input,
    textarea {
      width: 80%;
      padding: 0.4rem 0.6rem;
    }

    & button {
      margin-top: 20px;
    }
  }
}

/***** End Register Section *****/

/***** Start Login Section *****/
.section-login {
  & .contact-content {
    padding: 0;

    & h1 {
      margin-bottom: 3.2rem;
    }
  }

  & .container {
    padding-top: 3.2rem;
  }

  & .login-img {
    display: flex;
    justify-content: start;
    align-items: center;

    & img {
      width: 80%;
      height: auto;
    }
  }

  & .login-form {
    & form {
      display: flex;
      flex-direction: column;
      gap: 3.2rem;
    }

    & label {
      display: block;
      margin-bottom: 1.2rem;
      text-transform: capitalize;
    }

    & input,
    textarea {
      width: 80%;
      padding: 0.4rem 0.6rem;
    }

    & button {
      margin-top: 20px;
    }
  }
}

/***** End Login Section *****/

/***** Start Service Section *****/
.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: translateY(-5px);
  }

  .card-img {
    height: 200px;
    overflow: hidden;
    border-radius: 8px 8px 0 0;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .card-details {
    padding: 16px;

    .grid {
      grid-template-columns: auto 1fr;
      align-items: center;

      &-two-cols {
        gap: 16px;
      }
    }

    h2 {
      margin: 16px 0;
    }

    p {
      line-height: 1.5;
    }
  }
}

.grid-three-cols {
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

/***** End Service Section *****/

/***** Start Error Section *****/

.page_404 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-1-section {
  flex: 1;
  padding: 0 20px;
}

.col-2-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.all-text {
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: left;
}

.all-text h1 {
  font-size: 15em;
}

.sub-text h3 {
  font-size: 2em;
}

.sub-text p {
  font-size: 1.5em;
}

.col-2-section img {
  max-height: 100%;
  max-width: 100%;
}

/***** End Error Section *****/

/***** Start Admin User Table Section *****/

.admin-users-section {
  padding: 20px;
}

.admin-users {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 15px;
  text-align: center;
  font-size: 17px;
}

th {
  background-color: #918e8e;
}

.container {
  max-width: 70vw;
  margin: 0 auto;
}

/***** End Admin User Table Section *****/

/***** Start Admin Update form Section *****/
.section-update {
  & .contact-content {
    padding: 0;

    & h1 {
      margin-bottom: 3.2rem;
    }
  }

  & .container {
    padding-top: 3.2rem;
  }

  & .update-img {
    display: flex;
    justify-content: start;
    align-items: center;

    & img {
      width: 80%;
      height: auto;
    }
  }

  & .update-form {
    & form {
      display: flex;
      flex-direction: column;
      gap: 3.2rem;
    }

    & label {
      display: block;
      margin-bottom: 1.2rem;
      text-transform: capitalize;
    }

    & input,
    textarea {
      width: 80%;
      padding: 0.4rem 0.6rem;
    }

    & button {
      margin-top: 20px;
    }
  }
}

/***** End Admin Update Section *****/

/***** Start Admin Navbar Section *****/
.admin-container {
  margin-top: 40px;
  background-color: #f0f0f0;
  padding: 10px;
}

.admin-container nav ul {
  list-style-type: none;
  padding: 0;
}

.admin-container nav ul li {
  display: inline;
  margin-right: 20px;
}

.admin-container nav ul li:last-child {
  margin-right: 0;
}

.admin-container nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.admin-container nav ul li a:hover {
  color: var(--btn-color);
}

/***** End Admin Navbar Section *****/